.custom-login{
    height:500px;
    padding-top: 100px;
}

img.slider-img{
     height: 700px !important;
 }

.custom-product{
    height: fit-content;
    padding-bottom: 170px;
}

.slider-text{
    background-color: #3156667d !important;
}

.trending-image{
    height: 150px;
}

.trending-item{
    float: left;
    width: 25%;
}

.trending-wrapper{
    margin: 30px;
}

.detail-img{
    height: 300px;
}

.detail-container{
    height: 400px;
    margin-top: 50px;
}

.Searched-item{
    margin-bottom: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.sub-container {
    position: relative;
}

.cart-list-devider{
    border-bottom: 1px solid #adb5bd;
    padding-bottom: 20px;
}
